<div class='currency-fields'>
  <div class="alpha three columns">
    <%= f.label :amount %>
    <%= f.text_field :amount, size: 0 %>
  </div>
  <div class="three columns">
    <%= f.label :currency %>
    <%= f.text_field :currency, size: 0 %>
  </div>
  <div class="omega two column">
    <%= link_to '', 'javascript:', class: 'remove-payment-method-fee icon-trash' %>
    <%= f.hidden_field :_destroy %>
  </div>
</div>
